<html>
    <head>
        <% include ../partials/head %>

    </head>
    <body class="container">
        <header>
            <% include ../partials/header %>
    
        </header>

        <main>
            <div >
            <h2>Home Page</h2>
            <p>This is home page.Please explore further</p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
    
        </footer>
    </body>
</html>